{% extends "layout.html" %}

{% block title %}
    How It Works
{% endblock %}

{% block main %}
    <!-- How it works section -->
    <div class="container">
        <!-- Message explaining how the system works -->
        <div class="mt-5">
            <div class="alert alert-warning" role="alert">
                <span class="text-warning">&#9888;</span>
                <strong>WARNING:</strong> You are entering a Law Enforcement Government website form.
                 <!-- Unicode character for warning symbol -->
            </div>
            <!-- Centered and margin-left adjusted heading -->
            <h2 class="text-center mx-auto" style="margin-left: 20px;">How It Works</h2>
            <p>This platform allows you to anonymously report incidents within our community. Simply click on "Log a Tip Off" to provide information about suspicious activities, or click on "Report an Incident" to report any incidents or crimes you have witnessed.</p>
            <p>Your reports will be processed confidentially and help us ensure the safety and security of everyone in our community.</p>

            <p>This website cannot be used to report emergencies or immediate threats to life. If this is an emergency or immediate threat to life, call 911.</p>
        </div>
    </div>
{% endblock %}
