{% extends "layout.html" %}

{% block title %}Headlines{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2>Latest Headlines</h2>
    <div class="container">
        <ul>
            {% for item in titles %}
                <li>
                    <h3><a href="{{ url_for('show_article', article_id=item['id']) }}">{{ item['title'] }}</a></h3>
                    <p>Published on: {{ item['timestamp'] }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

