{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <h2>Buy Stocks</h2>
    {% if get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}
    <form action="/buy" method="post">
        <div class="d-flex justify-content-center">
            <div class="mb-3">
                <input type="text" id="symbol" name="symbol" class="form-control form-control-md" placeholder="Symbol" style="width: 180px;">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mb-3">
                <input type="number" id="shares" name="shares" class="form-control form-control-md" min="1" placeholder="Shares" style="width: 180px;">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-md">Buy</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}
