{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <h2>Password Change</h2>
    <form action="/change_password" method="post">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <div class="form-group mb-2">
                    <input type="password" id="current_password" name="current_password" class="form-control" placeholder="Current Password" style="text-align: center;" required>
                </div>
                <div class="form-group mb-2">
                       <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password" style="text-align: center;" required>
                </div>
                <div class="form-group mb-3">
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm New Password" style="text-align: center;" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}

