{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
    {{ get_flashed_messages() | join(" ") }}
</div>
{% endif %}
<main class="container py-5">
    <h1 class="mb-4">Portfolio</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['symbol'] }}</td>
                <td>{{ (transaction['shares']) }}</td>
                <td>{{ transaction['current_price']|usd }}</td>
                <td>{{ transaction['total_value']|usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Cash</strong></td>
                <td>{{ cash|usd  }}</td>
            </tr>
            <tr>
                <td colspan="3"><strong>GRAND TOTAL</strong></td>
                <td>{{ grand_total|usd }}</td>
            </tr>
        </tfoot>
    </table>
</main>
{% endblock %}


