{% extends "layout.html" %}

{% block title %}
    Create User
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
    {{ get_flashed_messages() | join(" ") }}
</div>
{% endif %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div>
            <h1>Create User</h1>
            <form action="/create_user" method="POST">
                <label for="role">Assign Role</label>
                <select id="role" autofocus name="role" class="form-control mx-auto w-auto" style="width: 180px;">
                    <option value="1">Admin</option>
                    <option value="9">HR/Admin</option>
                    <option value="4">Investigator</option>
                    <option value="10">Legal Advisor</option>
                    <option value="2">Officer</option>
                    <option value="8">Technical Support</option>
                </select><br>

                <input class="form-control mx-auto w-auto" type="email" name="email" id="email" placeholder="jd@example.com" required><br>

                <input class="form-control mx-auto w-auto" name="full_name" id="full_name" placeholder="Johana Dohn" required><br>

                <input class="form-control mx-auto w-auto" name="password" id="password" placeholder="Password" type="password" required><br>

                <button class="btn btn-primary" type="submit">Create User</button>
            </form>

            <p><a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
{% endblock %}
